### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data["SN"].head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique = purchase_data["Item Name"].nunique()
unique

179

In [4]:
average = purchase_data["Price"].mean()
average

3.050987179487176

In [5]:
count = purchase_data["SN"].value_counts()
count

Lisosia93        5
Iral74           4
Idastidru52      4
Inguron55        3
Phyali88         3
                ..
Sundadarla27     1
Phiarithdeu40    1
Ililsan66        1
Sondossa69       1
Asur96           1
Name: SN, Length: 576, dtype: int64

In [6]:
total = purchase_data["Price"].sum()
total

2379.77

In [7]:
summary_df = pd.DataFrame ({"Number of Unique Items": unique, "Average Purchase Price": average,
                           "Total Number of Purchases": count, "Total Revenue": total})
summary_df.head()

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Lisosia93,179,3.050987,5,2379.77
Iral74,179,3.050987,4,2379.77
Idastidru52,179,3.050987,4,2379.77
Inguron55,179,3.050987,3,2379.77
Phyali88,179,3.050987,3,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
percentage_of_male = (652/780)*100
percentage_of_male

83.58974358974359

In [17]:
percentage_of_female = (113/780)*100
percentage_of_female

14.487179487179489

In [18]:
percentage_of_other = (15/780)*100
percentage_of_other

1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchase_count = purchase_data["Item Name"].value_counts()
purchase_count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
                                                ..
Endbringer                                       1
Alpha, Reach of Ending Hope                      1
Ghost Reaver, Longsword of Magic                 1
Betrayer                                         1
Exiled Mithril Longsword                         1
Name: Item Name, Length: 179, dtype: int64

In [35]:
average_purchase_price = purchase_data["Price"].mean()
average_purchase_price

3.050987179487176

In [21]:
total_purchase = purchase_data["Price"].sum()
total_purchase

2379.77

In [26]:
average_purchase_total_male = 3.050987179487176/652
average_purchase_total_male

0.004679428189397509

In [27]:
average_purchase_total_female = 3.050987179487176/113
average_purchase_total_female

0.0269998865441343

In [28]:
average_purchase_total_other = 3.050987179487176/15
average_purchase_total_other

0.20339914529914507

In [39]:
summary1_df = pd.DataFrame ({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase_price,
                           "Total Purchase Value": total_purchase})
summary1_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Final Critic,13,3.050987,2379.77
"Oathbreaker, Last Hope of the Breaking Storm",12,3.050987,2379.77
Nirvana,9,3.050987,2379.77
Persuasion,9,3.050987,2379.77
Fiery Glass Crusader,9,3.050987,2379.77

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
top_spender = df.loc[SN]
print("loc: SN")

purchase_data = df.iloc[1,5]
print(iloc"SN")

SyntaxError: invalid syntax (<ipython-input-48-112bab08e739>, line 5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [56]:
purchase_data[("Item ID", "Item Name","Price")].head()

KeyError: ('Item ID', 'Item Name', 'Price')

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [57]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000